body{margin: 0;
font-family: sans-serif;
}
header{background-color: royalblue
}

.nav-header a{
    text-decoration: none;
    color: red;
}
.cor-vermelha {
    color: red;
}
#header-pesquisa{
    color: green;
}
#header-pesquisa::placeholder{
color: aqua;
}
.formulario-contato p, .formulario-contato h3 {
    font-size: 18pt;
}
.negrito{
    font-weight: bold;
}
.negrito:hover{
    color: lawngreen;
}
img{
    opacity: 0.5;
}
img:hover{
    opacity: 1;
}
button{cursor: pointer;}

.formulario-contato {
background-color: silver;
border-radius: 10px;
box-shadow: 1px 1px 20px 5px rgba(0,0,0, 0.1);
}

.formulario-contato p, .formulario-contato h3 {
    font-size: 18pt
}
.negrito{
    font-weight: bold;
}
